@import '../../styles/design-system/variables';
@import '../../styles/design-system/layout';

.summaryNote {
  padding: 16px;
  background-color: $bg-tertiary;
  border-radius: 12px;
  border: 1px solid $border-color;
  margin-top: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;

  @include mobile {
    grid-template-columns: 1fr;
  }
}
